@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
html, body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
    background-color: #fcfcff;
    width: 100%;
    min-height: 100%;
=======
    background-color: #fdf5ea;
    width: 100vw;
    min-height: 100vh;
>>>>>>> 3624427ccb07e8a1710aa9a583ed791446d0df91
}
.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.sec-nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 15%;
    align-items: center;
    border-bottom: solid 1px lightgrey;
}
.sec-left-nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.thumb-preview {
    height: 75%;
}
.sl-container {
    height: 400px;
    width: 100%;
    background-color: #e7ded4;
    overflow: hidden;
}
.sl-img {
    width: 100%;
    max-height: 100%;
}

.rec-prod {
	padding: 0% 15%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 25px;
	height: 100%;
}

.rec-prod-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}	

.sin-prod {
	transition: 0.4s;
	width: 30%;
	margin: 0% 1.5% 1.5% 1.5%;
	border: solid 1px #e2d6ca;
	border-radius: 10px;
	overflow: hidden;
}

.sin-prod:hover {
	transition: 0.1s;
	border: 1px solid #b6ada6;
	-webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.15);
}

.sin-prod-desc {
	padding: 20px;
	display: flex;
	flex-direction: row ;
	justify-content: space-between;
}

.desc-split {
	display: flex;
	flex-direction: column;

}

.desc-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin: 2px;
	font-size: 12px;
}

.desc-head-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 15px;
	margin: 2px;
}

.desc-price {
	text-align: right;
}

.desc-btn {
	margin: 5px 0px;
	width: 100px;
	height: 30px;
	color: #fff;
	border: solid 1px #2e6da4;
	border-radius: 3px;
	background-color: #337ab7;
}

.desc-btn:hover {
	transition: 0.06s;
	background-color: #446CB3;
}

.thumb {
	height: 75%;
	width: 100%;

}

.header {
	display: block;
	padding: 30px;
}

.cart {
	width: 60%;
	margin: 50px;
	border: solid 1px grey;
	border-radius: 10px;
	min-height: 200px;
	align-self: center;
}

#cart {
	width: 40px;
	height: 40px;
}
